body > * {
    margin: 0;
    padding: 0;

}

.etch-pad {
    display: flex;
    flex-wrap: wrap;
    width: 370px;

}



.grid {
    display: flex;
    border: 1px solid black;
    width: 90px;
    height: 90px;
}