body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clear-btn{
    width: 80px;
    height: 40px;
    
}

.etch-pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 384px;
    height:384px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 12px;
    overflow: hidden;

}

.grid {
    display: flex;
    width: 24px;
    height: 24px;
    /* border: solid 1px black; */
    /*    grid size 16x16 24x24 32x32 64x64
    
          pixels are 24px 16px 12px  6px
    */
}





input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;

    background: #7a7a7a30;
    border-radius: 16px;
    height: 15px;
}

.button-bar {
    padding: 20px;
    margin: 5px;
}

.darken {
    background-color: rgb(90, 87, 87);
}